1) Demonstrate how to import Pandas and check the version of the installation.

In [91]:
import pandas as pd
pd.__version__

'1.5.2'

2) Transform this list, numpy array, and dictionary into a series.

In [92]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
s1=pd.Series(mylist,name='mylist')
#print(s1)

myarr = np.arange(26)
#print(myarr)
mydict = dict(zip(mylist, myarr))
#print(mydict)
dict_ser=pd.Series(mydict)
#print(dict_ser)

3) Convert the index of your previous series into a column of the dataframe.

In [93]:
ser_frame=dict_ser.to_frame()
print(ser_frame)

     0
a    0
b    1
c    2
e    3
d    4
..  ..
v   21
w   22
x   23
y   24
z   25

[26 rows x 1 columns]

4) Combine the series below into one dataframe.

In [94]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
newdataframe=pd.concat([ser1,ser2],axis=1)
print(newdataframe)

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
.. ..  ..
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

[26 rows x 2 columns]

5) Give the series below a name.

In [95]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'),name='Alphabets')
#print(ser)

6) Find the elements in the first series (ser1) not in the second series (ser2).

In [96]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~(ser1.isin(ser2))]
print(ser1[~(ser1.isin(ser2))])

0    1
1    2
2    3
dtype: int64

In [97]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser3=[]
for i in ser1:
    if i not in ser2:
        ser3.append(i)
print(ser3)

[5]

7) Find the elements in both series that are not in common (remove them if they exist in both).

In [98]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
combine = pd.concat([ser1, ser2])
combine
common_list = []
common = ser1[ser1.isin(ser2)]
common
#ans = ser1[~ser1.isin(ser2)]
ans = combine[~combine.isin(common)]
ans
# ser_u = pd.Series(np.union1d(ser1, ser2))  # union
# ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
# ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

8) Find the minimum, max, 25th percentile, and 75th percentile in the series.

In [99]:
ser = pd.Series(np.random.normal(10, 5, 25))
df=ser.to_frame()
df1=df.describe(include='all')
print(df1)
#using numpy we got the array
# np.percentile(ser, q=[0, 25, 50, 75, 100])

               0
count  25.000000
mean   10.661614
std     4.285653
min    -0.102328
25%     8.271421
50%    11.638017
75%    14.323931
max    15.852063

9) Obtain the count of each unique item in the series.

In [100]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

f    7
b    6
h    5
c    4
d    3
a    2
e    2
g    1
dtype: int64

10) Keep the two most frequent items in the series and change all items that are not those two into "Other".

In [101]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser2=ser.value_counts()
print(ser2)
#df=ser.to_frame()
#print(df.value_counts())
list1=ser.value_counts()[:2].index.tolist()
print(list1)
list2=ser.value_counts()[2:].index.tolist()
print(list2)
#list1=df[0].value_counts()[:2].index.tolist()
type(list1)

ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

4    5
2    4
3    2
1    1
dtype: int64
[4, 2]
[3, 1]

C:\Users\ngupt\AppData\Local\Temp\ipykernel_16204\97791223.py:7: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  list1=ser.value_counts()[:2].index.tolist()
C:\Users\ngupt\AppData\Local\Temp\ipykernel_16204\97791223.py:9: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  list2=ser.value_counts()[2:].index.tolist()

0         4
1         2
2         4
3         2
4     Other
      ...
7         4
8         2
9         2
10        4
11    Other
Length: 12, dtype: object

In [102]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser[~ser.isin(ser.value_counts().index[:2])])
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

5    1
8    1
dtype: int32

0         4
1         4
2         3
3         3
4         3
      ...
7         4
8     Other
9         4
10        4
11        3
Length: 12, dtype: object

11) Bin the series below into 10 equal deciles and replace the values with the bin name.

In [103]:
ser = pd.Series(np.random.random(20))

pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()
pd.cut(ser, bins=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    10th
1     5th
2     5th
3     7th
4     5th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

12) Reshape the series ser into a dataframe with 7 rows and 5 columns.

In [104]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  1  3  2  5  3
1  9  3  2  7  7
2  3  7  9  3  4
3  8  1  4  1  5
4  7  3  4  4  2
5  2  8  1  8  7
6  2  2  6  6  4

13) Find the positions of numbers that are multiples of 3 from ser.

In [105]:
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
print(ser[ser.mod(3)==0].index)

0    6
1    2
2    6
3    5
4    7
5    9
6    9
dtype: int32
Int64Index([0, 2, 5, 6], dtype='int64')

14) From ser, extract the items at positions in list pos.

In [106]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

15) Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [107]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
pd.concat([ser,ser],axis=0)  #datframe as have 1 column
pd.concat([ser,ser],axis=1)   #dataframe as have 2 columns

    0  1
0   a  a
1   b  b
2   c  c
3   d  d
4   e  e
.. .. ..
21  v  v
22  w  w
23  x  x
24  y  y
25  z  z

[26 rows x 2 columns]

16) Get the positions of items of ser2 in ser1 as a list.

In [108]:

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
ser1[ser1.isin(ser2)].index.to_list()
#ser1(ser2.isin(ser1))

[0, 4, 5, 8]

17) Compute the mean squared error of truth and pred series.

In [109]:
import sklearn as sk
from sklearn.metrics import mean_squared_error
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
mean_squared_error(truth, pred)

0.26130948300570783

18) Change the first character of each word to upper case in each word of ser.

In [110]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
newSeries = ser.map(lambda x: x[0].upper() + x[1:])
print(newSeries)

#if we want to convert 1st and last word in uppercase
#newSeries = ser.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())

0     How
1      To
2    Kick
3    Ass?
dtype: object

19) Caluculate the number of characters for each element in the series.

In [111]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.str.len()

0    3
1    2
2    4
3    4
dtype: int64

20) Caluculate the difference of differences between the consequtive numbers of ser.

In [112]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
ser.diff()
ser.diff().diff()

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

21) Convert the date-strings to a timeseries.

In [113]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
pd.DatetimeIndex(ser)

DatetimeIndex(['2010-01-01 00:00:00', '2011-02-02 00:00:00',
               '2012-03-03 00:00:00', '2013-04-04 00:00:00',
               '2014-05-05 00:00:00', '2015-06-06 12:20:00'],
              dtype='datetime64[ns]', freq=None)

22) Get the day of month, week number, day of year and day of week from ser.

In [114]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
df = pd.DatetimeIndex(ser).day_name
df

<bound method _inherit_from_data.<locals>.method of DatetimeIndex(['2010-01-01 00:00:00', '2011-02-02 00:00:00',
               '2012-03-03 00:00:00', '2013-04-04 00:00:00',
               '2014-05-05 00:00:00', '2015-06-06 12:20:00'],
              dtype='datetime64[ns]', freq=None)>

23) Change ser to dates that start with 4th of the respective months.

In [115]:

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
print(pd.to_datetime(ser).dt.isocalendar())
#ser.dt.isocalendar()  
#ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
#ser.map(lambda x : "04" +x)
pd.to_datetime(ser.map(lambda x : "04 " + x))

   year  week  day
0  2009    53    5
1  2011     5    2
2  2012     9    4

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

24) From ser, extract words that contain at least 2 vowels.

In [116]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
ser[ser.str.count(pat=r'[AaEeIiOoUu]') >=2]

0     Apple
1    Orange
4     Money
dtype: object

In [117]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
for i in ser:
    a=0
    for j in i:
        if j in ['a','e','i','o','u','A','E','I','O','U']:
            a=a+1
            if a>=2:
                print(i)
                break

Apple
Orange
Money

25) Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

In [118]:
import re
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
#emails.str.findall(pattern,flags=re.ignorecase)
emails.str.findall(pattern, flags=re.IGNORECASE)

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

26) Compute the mean of weights of each fruit.

In [119]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
#print(fruit)
weights = pd.Series(np.linspace(1, 10, 10))
wei_list=weights.tolist()
fru_list=fruit.tolist()
weights.groupby(fruit).mean()
#examples

#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

apple     6.000000
banana    4.000000
carrot    6.333333
dtype: float64

27) Compute the euclidean distance between series (points) p and q, without using a packaged formula.

In [120]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
  #[d(x, y) = \sqrt{\sum_{i=0}^{n}(x_{i}-y_{i})^{2}}\] 
dist = np.sqrt(np.sum([(a-b)*(a-b) for a, b in zip(p,q)]))
print(([(a-b)*(a-b) for a, b in zip(p,q)]))
print(dist)

[81, 49, 25, 9, 1, 1, 9, 25, 49, 81]
18.16590212458495

28) Get the positions of peaks (values surrounded by smaller values on both sides) in ser.

In [121]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

array([1, 5, 7], dtype=int64)

29) Replace the spaces in my_str with the least frequent character.

In [122]:
my_str = 'dbc deb abed gade'
my_ser=pd.Series(list(my_str))
freq = ser.value_counts()
print(freq)

current_freq = freq.dropna().index[-1]
 
# function element_freq.dropna()
# will  Return a new Series with
# missing values removed
result = "".join(ser.replace(' ',current_freq))
 
print(result)

#print(my_ser.value_counts().dropna().index[:-1])
#my_str.replace(' ',(my_ser[my_ser.value_counts()[:-1]]))
#

2     2
10    2
3     2
4     1
9     1
7     1
dtype: int64

TypeError: sequence item 0: expected str instance, int found

In [ ]:
import pandas as pd
str1 = 'abc def abcdef icd'
print("Original series:")
print(str1)
ser = pd.Series(list(str1))
element_freq = ser.value_counts()
print(element_freq)
current_freq = element_freq.dropna().index[-1]
result = "".join(ser.replace(' ', current_freq))
print(result)

Original series:
abc def abcdef icd
c    3
     3
d    3
a    2
b    2
e    2
f    2
i    1
dtype: int64
abcidefiabcdefiicd

30) Create a timeseries starting at ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values.

In [ ]:
date=pd.date_range('2000-01-01', periods=10,freq='W-SAT')
print(date)
#dates = pd.date_range('2000-01-01', periods=10, freq='W-SAT')

DatetimeIndex(['2000-01-01', '2000-01-08', '2000-01-15', '2000-01-22',
               '2000-01-29', '2000-02-05', '2000-02-12', '2000-02-19',
               '2000-02-26', '2000-03-04'],
              dtype='datetime64[ns]', freq='W-SAT')

31) Series ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.

In [ ]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)
ser.resample('D').ffill() 
#> 2000-01-01     1.0
#> 2000-01-03    10.0
#> 2000-01-06     3.0
#> 2000-01-08     NaN
#> dtype: float64

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

32) Compute autocorrelations for the first 10 lags of ser. Find out which lag has the largest correlation.

In [ ]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))
print(ser)

autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
autocorrelations

0     25.454983
1      9.241528
2      0.469953
3     -1.439576
4     -0.120254
5     11.171991
6     23.668180
7     14.255801
8      8.148017
9      8.458112
10    12.033170
11    20.162070
12    13.861894
13    29.292753
14    31.745679
15    28.811118
16    13.094551
17    10.700690
18    19.050170
19     6.523083
dtype: float64

[1.0, 0.55, 0.12, -0.13, -0.22, -0.1, 0.03, 0.29, 0.11, -0.13, -0.53]

33) Import every 50th row of BostonHousing dataset as a dataframe.
    https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

In [ ]:
import csv          
with open('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', 'r') as f:
    reader = csv.reader(f)
    out = []
    for i, row in enumerate(reader):
        if i%50 == 0:
            out.append(row)

df2 = pd.DataFrame(out[1:], columns=out[0])
print(df2.head())

OSError: [Errno 22] Invalid argument: 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
print(type(df))
df2 = pd.DataFrame()
print(type(df2))
for chunk in df:
    df2 = df2.append(chunk.iloc[0,:])

<class 'pandas.io.parsers.readers.TextFileReader'>
<class 'pandas.core.frame.DataFrame'>

C:\Users\ngupt\AppData\Local\Temp\ipykernel_27688\621248396.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\ngupt\AppData\Local\Temp\ipykernel_27688\621248396.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\ngupt\AppData\Local\Temp\ipykernel_27688\621248396.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\ngupt\AppData\Local\Temp\ipykernel_27688\621248396.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\ngupt\AppData\Local\Temp\ipykernel_27688\621248396.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\ngupt\AppData\Local\Temp\ipykernel_27688\621248396.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\ngupt\AppData\Local\Temp\ipykernel_27688\621248396.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\ngupt\AppData\Local\Temp\ipykernel_27688\621248396.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\ngupt\AppData\Local\Temp\ipykernel_27688\621248396.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\ngupt\AppData\Local\Temp\ipykernel_27688\621248396.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])
C:\Users\ngupt\AppData\Local\Temp\ipykernel_27688\621248396.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(chunk.iloc[0,:])

34) Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

35) Create a dataframe with rows as strides from the series "L".

In [ ]:
L = pd.Series(range(15))
df=pd.DataFrame(L)
L

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

36) Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
print(type(df))
print(df.head())

<class 'pandas.core.frame.DataFrame'>
      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

37) Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe.

https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.dtypes)

print(df.shape)

Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object
(93, 27)

38) Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value?

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv',usecols=['Manufacturer','model','type'])
print(df)
df['Min.Price'].min()

ValueError: Usecols do not match columns, columns expected but not found: ['type', 'model']

39) Rename the column "Type" as "CarType" in the previous data and replace the ‘.’ in column names with ‘_’.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')


df=df.rename(columns = {'Type':'CarType'})

40) Check if the data from #37 has any missing values.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')


df.isnull().values.any()

True

41) Count the number of missing values in each column of the previous data. Which column has the maximum number of missing values?

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

n_missings_each_col = df.apply(lambda x: x.isnull().sum())
n_missings_each_col.argmax()

23

42) Replace missing values in Min.Price and Max.Price columns with their respective mean.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))
print(df_out.head())

   Min.Price  Max.Price
0  12.900000  18.800000
1  29.200000  38.700000
2  25.900000  32.300000
3  17.118605  44.600000
4  17.118605  21.459091

43) In the previous data, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

44) Get the first column (a) in the data as a dataframe (rather than as a Series).

In [ ]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution
type(df[['a']])
type(df.loc[:, ['a']])
type(df.iloc[:, [0]])

# Alternately the following returns a Series
type(df.a)
type(df['a'])
type(df.loc[:, 'a'])
type(df.iloc[:, 1])

pandas.core.series.Series

45) Actually 3 questions.

In the data, interchange columns 'a' and 'c'.

Create a generic function to interchange two columns, without hardcoding column names.

Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

In [ ]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

df[list('cbade')]

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

46) Change the pandas display settings on printing the dataframe so it shows a maximum of 10 rows and 10 columns.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')


pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
# df

# Show all available options
# pd.describe_option()

47) Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.

In [ ]:
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

df.round(4)

   random
0  0.0000
1  0.0600
2  0.0000
3  0.0249

48) Format the values in column 'random' of df as percentages.

In [ ]:
df = pd.DataFrame(np.random.random(4), columns=['random'])

out = df.style.format({
    'random': '{0:.2%}'.format,
})

out

49) From the cars data, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

In [ ]:

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

50) In the cars data, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type
print(df.index.is_unique)

True

51) Find the row position of the 5th largest value of column 'a' in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

# Solution
n = 5
df['a'].argsort()[::-1][n]

4

52) In ser, find the position of the 2nd largest value greater than the mean.

In [ ]:
ser = pd.Series(np.random.randint(1, 100, 15))

# Solution
print('ser: ', ser.tolist(), 'mean: ', round(ser.mean()))
np.argwhere(ser > ser.mean())[1]

ser:  [49, 47, 79, 42, 32, 34, 14, 88, 52, 63, 64, 31, 78, 16, 34] mean:  48

ValueError: Length of values (1) does not match length of index (15)

53) Get the last two rows of df whose row sum is greater than 100.

In [ ]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))


rowsums = df.apply(np.sum, axis=1)

54) Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.

In [ ]:
ser = pd.Series(np.logspace(-2, 2, 30))

# Solution
def cap_outliers(ser, low_perc, high_perc):
    low, high = ser.quantile([low_perc, high_perc])
    print(low_perc, '%ile: ', low, '|', high_perc, '%ile: ', high)
    ser[ser < low] = low
    ser[ser > high] = high
    return(ser)

capped_ser = cap_outliers(ser, .05, .95)

0.05 %ile:  0.016049294076965887 | 0.95 %ile:  63.87667222018393

55) Reshape df to the largest possible square with negative values removed. Drop the smallest values if need be. The order of the positive numbers in the result should remain the same as the original.

In [ ]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))
arr = df[df > 0].values.flatten()
arr_qualified = arr[~np.isnan(arr)]

n = int(np.floor(arr_qualified.shape[0]**.5))

56) Swap rows 1 and 2 in df.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

57) Reverse all the rows of dataframe df.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

58) Get one-hot encodings for column 'a' in the dataframe df and append it as columns.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

59) Obtain the column name with the highest number of row-wise maximum’s in df.

In [ ]:

# Input
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

# Solution
print('Column with highest row maxes: ', df.apply(np.argmax, axis=1).value_counts().index[0])

Column with highest row maxes:  1

60) Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df
#     p   q   r   s
# a  57  77  13  62
# b  68   5  92  24
# c  74  40  18  37
# d  80  17  39  60
# e  93  48  85  33
# f  69  55   8  11
# g  39  23  88  53
# h  63  28  25  61
# i  18   4  73   7
# j  79  12  45  34

61) Compute maximum possible absolute correlation value of each column against other columns in df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))
abs_corrmat = np.abs(df.corr())
max_corr = abs_corrmat.apply(lambda x: sorted(x)[-2])
print('Maximum Correlation possible for each column: ', np.round(max_corr.tolist(), 2))

Maximum Correlation possible for each column:  [0.72 0.58 0.9  0.6  0.63 0.63 0.67 0.67 0.49 0.9 ]

62) Compute the minimum-by-maximum for every row of df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

min_by_max = df.apply(lambda x: np.min(x)/np.max(x), axis=1)

63) Create a new column 'penultimate' which has the second largest value of each row of df.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

64) Normalize all columns of df by subtracting the column mean and divide by standard deviation.
Range all columns of df such that the minimum value in each column is 0 and max is 1.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
out1 = df.apply(lambda x: ((x - x.mean())/x.std()).round(2))
print('Solution Q1\n',out1)

Solution Q1
       0     1     2     3     4     5     6     7     8     9
0  0.79  0.91 -0.88  1.13  0.53  0.25  0.59 -0.07  0.79 -1.78
1  0.62  0.79  1.43 -0.72 -1.31  0.97  0.88  1.40  1.50  1.06
2 -1.21  0.83 -0.94 -0.82 -1.35 -0.28 -0.74  0.61  0.83 -0.00
3  0.51 -0.98  1.28  0.74  0.69 -0.52 -1.52 -0.22 -0.39 -0.71
4  0.31  0.31 -0.34 -0.86  0.26  1.45 -0.23 -0.22  0.07  0.71
5 -0.87  0.47  0.14 -1.25 -0.68  0.37 -0.93 -1.44 -0.26  0.88
6 -1.38 -0.50  0.46  1.13  1.40 -1.80  0.66 -1.15 -1.35  0.60
7  1.22 -1.83 -1.14  0.64  0.46 -0.44  1.29  1.08 -1.18 -0.75

65) Compute the correlation of each row of df with its succeeding row.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
[df.iloc[i].corr(df.iloc[i+1]).round(2) for i in range(df.shape[0])[:-1]]

[0.04, -0.51, -0.26, 0.31, 0.43, 0.06, 0.54]

66) Replace both values in both diagonals of df with 0.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
df

for i in range(df.shape[0]):
    df.iat[i, i] = 0
    df.iat[df.shape[0]-i-1, i] = 0
#     0   1   2   3   4   5   6   7   8   9
# 0  11  46  26  44  11  62  18  70  68  26
# 1  87  71  52  50  81  43  83  39   3  59
# 2  47  76  93  77  73   2   2  16  14  26
# 3  64  18  74  22  16  37  60   8  66  39
# 4  10  18  39  98  25   8  32   6   3  29
# 5  29  91  27  86  23  84  28  31  97  10
# 6  37  71  70  65   4  72  82  89  12  97
# 7  65  22  97  75  17  10  43  78  12  77
# 8  47  57  96  55  17  83  61  85  26  86
# 9  76  80  28  45  77  12  67  80   7  63

67) Using a key in a grouped data frame. From df_grouped, get the group belonging to 'apple' as a dataframe.

In [ ]:
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])
for i, dff in df_grouped:
    if i == 'apple':
        print(dff)

68) In df, find the second largest value of 'taste' for 'banana'

In [ ]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
df_grpd = df['taste'].groupby(df.fruit)
df_grpd.get_group('banana').sort_values().iloc[-2]

69) In df, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.

In [124]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
out = df.groupby('fruit', as_index=False)['price'].mean()
print(out)

    fruit     price
0   apple  4.333333
1  banana  8.333333
2  orange  8.666667

70) Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

In [125]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})
pd.merge(df1, df2, how='inner', left_on=['fruit', 'weight'], right_on=['pazham', 'pounds'], suffixes=['_left', '_right'])

KeyError: 'pounds'

71) Get the positions where the value of two columns match.

In [126]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})
print(df1[~df1.isin(df2).all(1)])

    fruit  weight  price
0   apple    high      0
1  banana  medium      4
2  orange     low      3
3   apple    high     13
4  banana  medium     14
5  orange     low     10
6   apple    high     10
7  banana  medium      5
8  orange     low      2

72) Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).

In [127]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})


np.where(df.fruit1 == df.fruit2)

(array([3, 7, 8, 9], dtype=int64),)

73) Get the frequency of unique values in the entire dataframe df.

In [129]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))
df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)
print(df)

   a  b  c  d  a_lag1  b_lead1
0  5  9  9  6     NaN      6.0
1  7  6  4  3     5.0      7.0
2  1  7  1  8     7.0      9.0
3  2  9  5  9     1.0      7.0
4  2  7  1  4     2.0      NaN

74) Split the string column in df to form a dataframe with 3 columns as shown.

In [128]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

print(df)

df_out = df.row.str.split(',|\t', expand=True)

                          row
0          STD, City    State
1  33, Kolkata    West Bengal
2   44, Chennai    Tamil Nadu
3  40, Hyderabad    Telengana
4  80, Bangalore    Karnataka